@page
@model CrownGlobal.Areas.Admin.Pages.IndexModel
@{
    <div>
        <a class="btn btn-lg btn-primary" asp-area="Admin" asp-page="/TestimonyGroups/Index">Manage Testimony Groups</a>
    </div>
}
