@page
@model CrownGlobal.Pages.NewIBOModel
@{
}

<main id="main">

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container mt-5">
            <style>
                .col-for-5{
                flex: 0 0 auto;
                width: 20%;
                }
            </style>
            <ul class="nav nav-tabs row d-flex">
                <li class="nav-item col-for-5" data-aos="zoom-in">
                    <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                        <i class="ri-copper-diamond-line"></i>
                        <h4 class="d-none d-lg-block">WHY PURE?</h4>
                    </a>
                </li>
                <li class="nav-item col-for-5" data-aos="zoom-in" data-aos-delay="100">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                        <i class="ri-gps-line"></i>
                        <h4 class="d-none d-lg-block">KNOW THE PRODUCTS</h4>
                    </a>
                </li>
                <li class="nav-item col-for-5" data-aos="zoom-in" data-aos-delay="200">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                        <i class="ri-body-scan-line"></i>
                        <h4 class="d-none d-lg-block">KNOW THE COMPENSATION PLAN</h4>
                    </a>
                </li>
                <li class="nav-item col-for-5" data-aos="zoom-in" data-aos-delay="300">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
                        <i class="ri-store-line"></i>
                        <h4 class="d-none d-lg-block">GET PEOPLE ON YOUR TEAM</h4>
                    </a>
                </li>
                <li class="nav-item col-for-5" data-aos="zoom-in" data-aos-delay="300">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-5">
                        <i class="ri-sun-line"></i>
                        <h4 class="d-none d-lg-block">WORK ON YOUR MINDSET</h4>
                    </a>
                </li>
            </ul>

            <div class="tab-content" data-aos="fade-up">
                <div class="tab-pane active show" id="tab-1">
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                            <h3>WHY PURE</h3>
                            <p>
                                What is your WHY PURE? Why did you join this business? Your WHY should be deep and personal.
                                Your WHY should move you to your core. Write down your WHY. Be specific. Remind yourself of your WHY daily.
                                Remind yourself of your Why when you face challenges.
                            </p>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 text-center">
                            <img src="assets/img/features-1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-2">
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                            <h3>KNOW THE PRODUCTS</h3>
                            <ul>
                                <li><i class="ri-check-double-line"></i> Buy your enrolment pack</li>
                                <li><i class="ri-check-double-line"></i> Use the products</li>
                                <li><i class="ri-check-double-line"></i> Know the efficacy. Be convinced. Share your testimony.</li>
                                <li><i class="ri-check-double-line"></i> Retail the products.</li>
                            </ul>
                            <p>
                                How? Write a list of people you know with health conditions. Call them. Tell them about PURE products.
                                Send testimonies. Ask a medical person in your team for support. Retail. Follow up on their results.
                                Ask them to sign up (Retail to Recruit)!
                            </p>
                            <p class="font-italic">
                                Click here to know the products.
                            </p>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 text-center">
                            <img src="assets/img/features-2.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-3">
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                            <h3>KNOW THE COMPENSATION PLAN</h3>
                            <p>
                                Know the 10 ways of making money in PURE. Know the stockist program. Knowledge is power.
                                When you know, you grow. Knowing will help you, your prospects and team members.
                            </p>
                            <p class="font-italic">
                                Click here to know the Compensation Plan
                            </p>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 text-center">
                            <img src="assets/img/features-3.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-4">
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                            <h3>GET PEOPLE ON YOUR TEAM: START LIFE CHANGING ACTIVITIES</h3>
                            <ul>
                                <li><i class="ri-check-double-line"></i> <em>L</em> - List Building</li>
                                <li><i class="ri-check-double-line"></i> <em>I</em> - Invitation</li>
                                <li><i class="ri-check-double-line"></i> <em>F</em> - Follow up</li>
                                <li><i class="ri-check-double-line"></i> <em>E</em> - Enrolment & Getting Started</li>
                            </ul>
                            <h4>List Building</h4>
                            <ul>
                                <li>Get a book</li>
                                <li>Write a list of 100 people you know</li>
                                <li>Add 5 people daily (use the memory jogger to create your list <a href="#">click here</a>)</li>
                                <li>
                                    Add Family, friends, phone contacts, schoolmates, work colleagues, people at the bank, gym,
                                    bar, club, neighbourhood, market/supermarket, church, mosque and social media to your list.
                                </li>
                                <li>Be open to meeting new people and be in touch with old friends </li>
                            </ul>
                            <h4>Invitation</h4>
                            <p>
                                Get the people on your list to attend CTG Zoom seminars
                            </p>
                            <h4>Invitation</h4>
                            <p>
                                Get the people on your list to attend CTG Zoom seminars.
                                <em>Schedule</em>
                                <ul>
                                    Sundays Session 1
                                    <li>Kenya- 6PM</li>
                                    <li>Nigeria- 4PM</li>
                                    <li>Ghana- 3PM</li>
                                    <li>South Africa- 5PM</li>
                                    <li>Cameroon- 8PM</li>
                                    Sundays Session 2
                                    <li>Nigeria- 8PM</li>
                                    <li>Kenya- 10PM</li>
                                    <li>Ghana- 7PM</li>
                                    <li>South Africa - 9PM</li>
                                    <li>Cameroon - 8PM</li>
                                </ul>
                            </p>
                            <h4>What to Say</h4>
                            <p>
                                An American company owned by Phil Knight, the founder of Nike sportswear, has come to Africa with a
                                medical breakthrough, and they are on the lookout for partners. Do you know anyone who might be interested?
                            </p>
                            <h4>Follow Up</h4>
                            <ul>
                                <li>Ask if they attended the seminar</li>
                                <li>Ask what they liked. Not what they think</li>
                                <li>Send video testimonies</li>
                                <li>Share your story or that of your leader</li>
                                <li>Connect them with your leader</li>
                            </ul>
                            <h4>Enrolment & Getting Started</h4>
                            <ul>
                                <li>When you sign up new IBOs provide support</li>
                                <li>Duplication is the key to sustainable growth</li>
                                <li>Teach new IBOs what you know</li>
                                <li>Tell them to teach those they sponsor too</li>
                                <li>
                                    Help each person you sign up to build their list and start the LIFE changing process.
                                    Share a link to this page with them.
                                </li>
                                <li>Help each person you sponsor to get at least 2 people. (One left, one right)</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 text-center">
                            <img src="assets/img/features-4.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-5">
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                            <h3>WORK ON YOUR MINDSET</h3>
                            <ul>
                                <li><i class="ri-check-double-line"></i> Believe in your success</li>
                                <li><i class="ri-check-double-line"></i> Remove barriers standing in your way e.g fear of failure, excuses, procrastination</li>
                                <li><i class="ri-check-double-line"></i> Visualise your destination</li>
                                <li><i class="ri-check-double-line"></i> Surround yourself with like minds</li>
                                <li><i class="ri-check-double-line"></i> Never give up!</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 text-center">
                            <img src="assets/img/features-4.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Features Section -->
</main>