@page
@model CrownGlobal.Pages.ProductsModel
@{
}

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="" class="about">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>Products</h2>
                <p>Our Products</p>
            </div>

            <div id="cleanse" class="row content my-5 shadow rounded" data-aos="fade-up">
                <div class="col-12">
                    <h3 class="my-2 mx-4">Cleanse</h3>
                    <hr class="m-0 p-0" />
                </div>
                <div class="col-lg-6 text-center" style="max-height:600px">
                    <div>
                        <img class="img-fluid my-2" src="/assets/products/CleanseFlyer.JPG" style="width:auto; height:500px;">
                    </div>
                    <a href="/assets/products/CleanseFlyer.JPG" class="btn btn-success mb-2" title="Download" download>
                        <i class="bx bx-download"></i> Download
                    </a>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 text-center" style="max-height:600px">
                    <div>
                        <video class="mt-5 pt-4" src="/assets/products/CleanseVideo.MP4" controls="show" style="width:100%; height:auto;"></video>
                    </div>
                    <a href="/assets/products/CleanseVideo.MP4" class="btn btn-success mb-2" title="Download" download>
                        <i class="bx bx-download"></i> Download
                    </a>
                </div>
            </div>

            <div id="dailybuild" class="row content my-5 shadow rounded" data-aos="fade-up">
                <div class="col-12">
                    <h3 class="my-2 mx-4">Daily Build</h3>
                    <hr class="m-0 p-0" />
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 text-center" style="max-height:600px">
                    <div>
                        <video class="mt-5 pt-4" src="/assets/products/DailyBuildVideo.mp4" controls="show" style="width:100%; height:auto;"></video>
                    </div>
                    <a href="/assets/products/DailyBuildVideo.MP4" class="btn btn-success mb-2" title="Download" download>
                        <i class="bx bx-download"></i> Download
                    </a>
                </div>
                <div class="col-lg-6 text-center" style="max-height:600px">
                    <div>
                        <img class="img-fluid my-2" src="/assets/products/DailyBuildFlyer.jpg" style="width:auto; height:500px;">
                    </div>
                    <a href="/assets/products/DailyBuildFlyer.JPG" class="btn btn-success mb-2" title="Download" download>
                        <i class="bx bx-download"></i> Download
                    </a>
                </div>
            </div>

            <div id="mila" class="row content my-5 shadow rounded" data-aos="fade-up">
                <div class="col-12">
                    <h3 class="my-2 mx-4">Mila</h3>
                    <hr class="m-0 p-0" />
                </div>
                <div class="col-lg-6 text-center" style="max-height:600px">
                    <div>
                        <img class="img-fluid my-2" src="/assets/products/MilaFlyer.jpg" style="width:auto; height:500px;">
                    </div>
                    <a href="/assets/products/MilaFlyer.JPG" class="btn btn-success mb-2" title="Download" download>
                        <i class="bx bx-download"></i> Download
                    </a>
                </div>
            </div>

            <div id="sulphur" class="row content my-5 shadow rounded" data-aos="fade-up">
                <div class="col-12">
                    <h3 class="my-2 mx-4">Organic Sulphur</h3>
                    <hr class="m-0 p-0" />
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 text-center" style="max-height:600px">
                    <div>
                        <video class="my-2" src="/assets/products/OrganicSulphur.mp4" controls="show" style="width:auto; height:500px;"></video>
                    </div>
                    <a href="/assets/products/OrganicSulphur.MP4" class="btn btn-success mb-2" title="Download" download>
                        <i class="bx bx-download"></i> Download
                    </a>
                </div>
                <div class="col-lg-6 text-center" style="max-height:600px">
                    <div>
                        <img class="img-fluid my-2" src="/assets/products/organicsulphurflyer.jpg" style="width:auto; height:500px;">
                    </div>
                    <a href="/assets/products/organicsulphurflyer.JPG" class="btn btn-success mb-2" title="Download" download>
                        <i class="bx bx-download"></i> Download
                    </a>
                </div>
            </div>

            <div id="purxcel" class="row content my-5 shadow rounded" data-aos="fade-up">
                <div class="col-12">
                    <h3 class="my-2 mx-4">PurXcel</h3>
                    <hr class="m-0 p-0" />
                </div>
                <div class="col-lg-6 text-center" style="max-height:600px">
                    <div>
                        <img class="img-fluid my-2" src="/assets/products/PurxcelFlyer.JPG" style="width:auto; height:500px;">
                    </div>
                    <a href="/assets/products/PurxcelFlyer.JPG" class="btn btn-success mb-2" title="Download" download>
                        <i class="bx bx-download"></i> Download
                    </a>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 text-center" style="max-height:600px">
                    <div>
                        <video class="mt-5 pt-4" src="/assets/products/PurxcelVideo.MP4" controls="show" style="width:100%; height:auto;"></video>
                    </div>
                    <a href="/assets/products/PurxcelVideo.MP4" class="btn btn-success mb-2" title="Download" download>
                        <i class="bx bx-download"></i> Download
                    </a>
                </div>
            </div>

            <div id="goyin" class="row content my-5 shadow rounded" data-aos="fade-up">
                <div class="col-12">
                    <h3 class="my-2 mx-4">GoYin</h3>
                    <hr class="m-0 p-0" />
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 text-center" style="max-height:600px">
                    <div>
                        <video class="mt-5 pt-4" src="/assets/products/GoyinVideo.mp4" controls="show" style="width:100%; height:auto;"></video>
                    </div>
                    <a href="/assets/products/GoyinVideo.MP4" class="btn btn-success mb-2" title="Download" download>
                        <i class="bx bx-download"></i> Download
                    </a>
                </div>
                <div class="col-lg-6 text-center" style="max-height:600px">
                    <div>
                        <img class="img-fluid my-2" src="/assets/products/GoyinFlyer.jpg" style="width:auto; height:500px;">
                    </div>
                    <a href="/assets/products/GoyinFlyer.JPG" class="btn btn-success mb-2" title="Download" download>
                        <i class="bx bx-download"></i> Download
                    </a>
                </div>
            </div>

            <div id="sleeptrim" class="row content my-5 shadow rounded" data-aos="fade-up">
                <div class="col-12">
                    <h3 class="my-2 mx-4">SleepTrim</h3>
                    <hr class="m-0 p-0" />
                </div>
                <div class="col-lg-6 text-center" style="max-height:600px">
                    <div>
                        <img class="img-fluid my-2" src="/assets/products/SleeptrimFlyer.JPG" style="width:auto; height:500px;">
                    </div>
                    <a href="/assets/products/SleeptrimFlyer.JPG" class="btn btn-success mb-2" title="Download" download>
                        <i class="bx bx-download"></i> Download
                    </a>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 text-center" style="max-height:600px">
                    <div>
                        <video class="mt-5 pt-4" src="/assets/products/SleeptrimVideo.MP4" controls="show" style="width:100%; height:auto;"></video>
                    </div>
                    <a href="/assets/products/SleeptrimVideo.MP4" class="btn btn-success mb-2" title="Download" download>
                        <i class="bx bx-download"></i> Download
                    </a>
                </div>
            </div>

            <div class="row content my-5 shadow rounded" data-aos="fade-up">
                <div class="col-lg-6 text-center">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="my-2 mx-4">Suggested Combos for Health Conditions</h4>
                            <hr class="m-0 p-0" />
                        </div>

                        <div class="col-12">
                            <div>
                                <img class="img-fluid my-2" src="/assets/products/SuggestedCombosforHealthConditions.jpg" style="width:auto; height:500px;">
                            </div>
                            <a href="/assets/products/SuggestedCombosforHealthConditions.JPG" class="btn btn-success mb-2" title="Download" download>
                                <i class="bx bx-download"></i> Download
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 text-center">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="my-2 mx-4">Products Dosage Recommendations</h4>
                            <hr class="m-0 p-0" />
                        </div>

                        <div class="col-12">
                            <div>
                                <img class="img-fluid my-2" src="/assets/products/ProductsDosageRecommendations.jpg" style="width:auto; height:500px;">
                            </div>
                            <a href="/assets/products/ProductsDosageRecommendations.JPG" class="btn btn-success mb-2" title="Download" download>
                                <i class="bx bx-download"></i> Download
                            </a>
                        </div>
                    </div>
                </div>
            </div>

    </section><!-- End About Section -->
</main>