@page
@model CrownGlobal.Areas.Admin.Pages.TestimonyGroups.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TestimonyGroup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">

            @if(!string.IsNullOrWhiteSpace(Model.Error)){
                <div class="alert alert-danger alert-dismissible">@Model.Error</div>
            }

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TestimonyGroup.Name" class="control-label"></label>
                <input asp-for="TestimonyGroup.Name" class="form-control" />
                <span asp-validation-for="TestimonyGroup.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
